<aside id="debug-panel" class="debug-panel">
  <div class="debug-panel__title">Live Animation Stats</div>
  <div class="debug-panel__item">
    <span>Scroll Y:</span>
    <span id="debug-scroll">0px</span>
  </div>
  <div class="debug-panel__item">
    <span>Progress:</span>
    <span id="debug-progress">0.0%</span>
  </div>
  <div class="debug-panel__item">
    <span>Wiggle:</span>
    <span id="debug-wiggle">100.0%</span>
  </div>
  <div class="debug-panel__item">
    <span>Hero H:</span>
    <span id="debug-hero-height">0px</span>
  </div>
  <div class="debug-panel__item">
    <span>Font Size:</span>
    <span id="debug-font-size">0px</span>
  </div>
  <div class="debug-panel__item">
    <span>CSS Pos:</span>
    <span id="debug-hero-pos">relative</span>
  </div>
</aside> 