<aside id="debug-panel" class="debug-panel">
  <div class="debug-panel__title">Live Animation Stats</div>
  <div class="debug-panel__item">
    <span>Theme:</span>
    <span id="debug-theme">--</span>
  </div>
  <div class="debug-panel__item">
    <span>Progress:</span>
    <span id="debug-progress">0.0%</span>
  </div>
  <div class="debug-panel__item">
    <span>Wiggle:</span>
    <span id="debug-wiggle">--</span>
  </div>
</aside> 