<header class="main-hero">
  <div class="container">
    <h1 class="text">
      <span class="n">N</span>
      <span class="e">e</span>
      <span class="o">o</span>
      <span class="m">m</span>
      <span class="a">a</span>
      <span class="n2">n</span>
      <span class="i">i</span>
      <span class="a2">a</span>
    </h1>
  </div>
</header> 