<nav class="main-nav">
  <a href="/episodes/" class="nav-item active">catalog</a>
  <a href="/#listen" class="nav-item">listen</a>
  <a href="/about/" class="nav-item">about</a>
  <div class="spacer"></div>
  {# <span class="nav-icon"><!-- Play icon SVG --></span>
  <span class="nav-icon"><!-- Dot menu SVG --></span> #}
</nav> 