<div class="theme-toggle-container" style="position: fixed; top: 1.5rem; right: 1.5rem; z-index: 100;">
  <button class="theme-toggle" aria-label="Toggle theme">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24" width="24" height="24">
      {% icon "sun" %}
      {% icon "moon" %}
      {% icon "sun-beams" %}
    </svg>
  </button>
</div> 